In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cars.csv')
df.columns = ['Random number', "Total price", "Montly installment", "Year.Car.Model", "Used.Transmission","Seller Name", "Seller location", "Km from you"]
df.drop(df.columns[[0, 7]], axis=1, inplace=True)

In [3]:
df.sample(5)

,Total price,Montly installment,Year.Car.Model,Used.Transmission,Seller Name,Seller location
301,R 98 000,R 1 941 p/m,2017 Ford Figo Hatch 1.5 Trend,Used Car93 000 kmManual,NOLLY MOTORS,"Glen Marais, Kempton Park"
395,R 90 000,R 1 783 p/m,2015 Ford Figo 1.4 Ambiente,Used Car90 000 kmManual,DWAYNE MOTORS,"Highlands North, Johannesburg"
100,R 80 000,R 1 585 p/m,2012 Renault Laguna Coupe V6,Used Car226 017 kmAutomatic,S4 AUTO BOKSBURG,"Beyers Park, Boksburg"
518,R 85 000,R 1 684 p/m,2014 Ford Figo 1.4 Trend,Used Car38 000 kmManual,ST CARS DEALERSHIP,"Kensington, Johannesburg"
519,R 85 000,R 1 684 p/m,2015 Ford Figo 1.4 Ambiente,Used Car99 000 kmManual,DMCC CARS,"Orange Grove, Johannesburg"

In [4]:
Year = []
Car_brand = []
Car_model = []
Car_mis = []
for row in df["Year.Car.Model"]:
    temp = row.split()
    Year.append(temp[0])
    Car_brand.append(temp[1])
    Car_model.append(temp[2])
    Car_mis.append(temp[3:])

In [5]:
Transmission = []
Milage = []
for row in df['Used.Transmission']:
    if row == "Used Car1 kmManual":
        milage == "0"
        trans = "Manual"
        Milage.append(milage)
    else:
        milage = row[8:-6]
        milage = milage.replace("km","")
        milage = milage.replace("Aut","")
        milage = milage.replace(" ","")
        milage = milage.strip()
        Milage.append(milage)
        
    if "Manual" in row:
        Transmission.append("Manual")
    else:
        Transmission.append("Automatic")

df['transmission'] = Transmission
df['milage (Thousands)'] = Milage
df['milage (Thousands)'] = df['milage (Thousands)'].astype(int)
df['milage (Thousands)'] = df['milage (Thousands)']/1000

In [6]:
df['year'] = Year
df['manufacturer'] = Car_brand
df['model'] = Car_model
df['extra'] = Car_mis

In [7]:
df['Montly installment'] = df['Montly installment'].str.replace("R","")
df['Montly installment'] = df['Montly installment'].str.replace("p/m","")
df['Montly installment'] = df['Montly installment'].str.replace(" ","")
df['Montly installment'] = df['Montly installment'].str.strip()
df['Montly installment'] = df['Montly installment'].astype(float)

In [8]:
type(df['Montly installment'][0])

numpy.float64

In [9]:
df['Total price'] = df['Total price'].str.replace("R","")
df['Total price'] = df['Total price'].str.replace(" ","")
df['Total price'] = df['Total price'].str.strip()
df['Total price'] = df['Total price'].astype(float)

In [10]:
type(df['Total price'][0])

numpy.float64

In [11]:
df.sample()

,Total price,Montly installment,Year.Car.Model,Used.Transmission,Seller Name,Seller location,transmission,milage (Thousands),year,manufacturer,model,extra
458,89900.0,1781.0,2013 GWM Steed 5 2.0VGT Double Cab 4x4 Lux,Used Car220 000 kmManual,RIGHT CARS,"North Riding, Randburg",Manual,220.0,2013,GWM,Steed,"[5, 2.0VGT, Double, Cab, 4x4, Lux]"

In [12]:
df.to_csv("Clean_cars.csv", index=False)